<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lita de pacientes</title>
    <link href="/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/paciente/listar_paciente.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div class="app-layout">
        <aside class="sidebar-menu">
            <div class="logo-sidebar">
                <i class="fas fa-heartbeat"></i> Atención Adulto Mayor
            </div>
            <nav>
                <a class="menu-item " th:href="@{/index/}">
                    <i class="fas fa-chart-line"></i> Menu Principal
                </a>

                <a href="/paciente/listar" class="menu-item active">
                    <i class="fas fa-procedures"></i> Pacientes
                </a>
                <a href="/empleado/listar" class="menu-item">
                    <i class="fas fa-user-tie"></i> Empleados
                </a>
                <a href="/citas/listar" class="menu-item">
                    <i class="fas fa-calendar-check"></i> Citas Médicas
                </a>
                <a href="/atenciones/listar" class="menu-item">
                    <i class="fas fa-briefcase-medical"></i> Atenciones
                </a>
                <a href="/rol/listar" class="menu-item">
                    <i class="fas fa-key"></i> Roles de Usuario
                </a>
                <a href="/config" class="menu-item">
                    <i class="fas fa-cog"></i> Configuración
                </a>
            </nav>
        </aside>

        <main class="dashboard-main-content">

            <div class="container">
                <h1 class="title">lista de pacientes</h1>
                <div>
                    <a class="btn btn-success" href="/paciente/agregar">Agregar paciente</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE COMPLETO</th>
                            <th scope="col">DNI</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="tblPacientes">
                    </tbody>
                </table>
            </div>
        </main>
    </div>


</body>

</html>